#footer {
  background-color: #4E4E4E;
  color: white;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  .logo, .logo-social {
      filter: brightness(0) invert(1);
  }
}

.linklist {
  .blockcms-title a {
    color: $gray-darker;
  }
}
.account-list a {
  color: $gray;

  &:hover {
    color: $brand-primary;
  }
}

.footer-container {
  padding-top: $extra-large-space;
  overflow: hidden;
  padding-bottom: 50px;
  .footer-blocks {
    .footer-block {
      padding-top: 2px;
      &.repair {
        .footer-block-logo {
          min-height: 16px;
          .footer-logo {
            position: absolute;
            height: 26px;
            /*width: 102px;*/
            .logo {
              height: 26px;
            }
          }
        }
        .footer-block-links {
          .links {
            margin-top: 30px;
          }
        }
      }
      &.records {
        .footer-block-logo {
          min-height: 16px;
            .footer-logo {
              position: absolute;
              height: 26px;
              .logo {
                height: 26px;
              }
            }
        }
        .footer-block-links {
          border-bottom: none;
          .contact {
            margin-top: 31px;
            a {
              color: white;
            }
          }
        }
      }
      .footer-block-content {
        margin-top: 30px;
        min-height: 77px;
        .contact {
          margin-top: 31px;
          a {
            color: white;
          }
        }
      }
    }
  }
  .footer-main {
    .footer-newsletter-social {
      .social-links{
        padding-top: 5px;
      }
    }
    .footer-main-links {
      .links{
        margin-top: 128px;
      }
    }
  }

  .wrapper {
    /* stylelint-disable */
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* stylelint-enable */
  }

  li {
    margin-bottom: 0.3125rem;
  }

  li a {
    color: white;
    cursor: pointer;

    &:hover {
      color: $brand-primary;
    }
  }

  .links {
    ul {
      margin-bottom: 0;
      > li {
        a {
          color: white;
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .footer-container {
    .footer-blocks {
      /*border-bottom: 1px solid white;*/
      .footer-block-links {
        border-bottom: none;
      }
    }

  }
}

@include media-breakpoint-down(md) {
  .footer-container {
    .footer-blocks {
      /*border-bottom: 1px solid white;*/
      .footer-block-links {
        border-bottom: none;
      }
    }
    .footer-main {
      .footer-newsletter-social {
      }
      .social-links{

      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer-container {
    margin-top: 0;
    box-shadow: none;
    padding-top: 0;

    .footer-blocks {
      .footer-block-links {
        border-bottom: none;
      }
      .footer-block-logo {
        padding-top: 2.5rem;
      }
    }

    .footer-main {
      .footer-newsletter-social {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .social-links{
        padding-top: 20px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .footer-container {
    .footer-blocks {
      border-bottom: none;
      .footer-block-links {
      }
    }
  }
}
