#header {
  position: relative;
  z-index: 999;
  color: $gray;
  background: $white;
  min-width: 100px;

  .logo {
    max-width: 100%;
    height: auto;
  }

  #_desktop_logo {
    h1 {
      margin-bottom: 0;
    }
  }

  a {
    color: $gray-darker;
    min-width: 150px;
    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .menu {
    display: inline-block;

    > ul {
      > li {
        display: inline-block;
      }
    }
  }

  .header-nav {

    height: 71px;
    max-height: 71px;
    border-bottom: 1px solid black;
    #menu-icon {
      margin: 0 1rem;
      vertical-align: middle;
      cursor: pointer;

      .material-icons {
        line-height: 50px;
      }
    }

    .right-nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      .social-links {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        right: 20px;
      }
    }

    .mobile {


    }
  }

  .header-top {
    padding: 1.25rem 0;

    > .container {
      position: relative;

      > .row:first-of-type {
        display: flex;
        align-items: center;
      }
    }

    .menu {
      padding-left: 15px;
    }

    .position-static {
      position: static;
    }

    a[data-depth="0"] {
      color: $gray;
      text-transform: uppercase;
    }

    .search-widget {
      float: right;
    }
  }

  .top-menu-link {
    margin-left: $medium-space;
  }

  @include media-breakpoint-down(sm) {
    .top-logo {
      display: flex;
      align-items: center;
      min-height: 50px;

      img {
        width: auto;
        max-height: 2rem;
      }

      > h1 {
        margin: 0;
      }
    }
  }
}
