.block_newsletter {
  font-family: GlenmorangieSerif-Regular;
  float: inherit;
  width: 100%;
  height: 30px;
  max-width: 50rem;
  margin: auto;
  clear: both;
  font-size: $font-size-sm;
  background: $white;

  #block-newsletter-label {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    color: grey;
  }

  form {
    display:flex;
    flex-direction:row;
    height: 30px;
    border:1px solid grey;
    padding:2px;

    input {
      box-shadow: none;
    }
    input[type="email"] {
      width: 80%;
      border: 1px solid grey;
      flex-grow:2;
      border:none;
      color: black;
      &:focus {
        outline: 0px;
      }
    }

    input[type="submit"] {
      font-family: POLICESTUDIOHARKSANS-REGULAR;
      border: none;
      background: black;
      color:white;
      height: 24px;
      width: 28px;
      right: 3px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0;
    }
  }

  .alert {
    font-size: 0.6rem;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    position: absolute;;
    &.alert-danger{
      color: black;
      border: none;
      background-color: transparent;
    }
    &.alert-success{
      color: black;
      border: none;
      background-color: transparent;
    }
  }
}

#footer {
  label {
    color: white;
  }
  .block_newsletter {
    form {
      border: 1px solid white;
    }

    p {
      padding-top: $small-space;
    }

    #block-newsletter-label {
      padding-top: 0;
    }
  }
}


@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-top: 1rem;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}