.block_newsletter {
  @include search-box();
  float: inherit;
  width: 100%;
  max-width: 50rem;
  margin: auto;
  /*margin-bottom: 0.625rem;*/
  clear: both;
  font-size: $font-size-sm;
  background: $white;

  #block-newsletter-label {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    color: grey;
  }

  form {
    display:flex;
    flex-direction:row;
    height: 36px;
    border:1px solid grey;
    padding:2px;

    input[type="email"] {
      width: 80%;
      border: 1px solid grey;
      flex-grow:2;
      border:none;

      &:focus {
        outline: 0px;
      }
    }

    input {
      box-shadow: none;
    }

    input[type="submit"] {
      /*border:1px solid blue;*/
      background: black;
      color:white;
      height: 30px;
      width: 30px;
    }
  }

  .alert {
    font-size: 0.6rem;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;

    &.alert-danger{
      color: #a94442;
      border: none;
      background-color: transparent;
    }
    &.alert-success{
      color: #3c763d;
      border: none;
      background-color: transparent;
    }
  }
}

#footer {
  label {
    color: white;
  }
  .block_newsletter {
    form {
      border: 1px solid white;
    }

    p {
      padding-top: $small-space;
    }

    #block-newsletter-label {
      padding-top: 0;
    }
  }
}


@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-top: 1rem;
  }
}
